#readin {
  position: absolute;
  height: 100%;
  overflow-x: scroll;
  column-gap: 30px;
  padding: 15px;
  touch-action: none;
}
#readin::-webkit-scrollbar {
  display: none;
}

#readinv.writeVertical *{
  writing-mode: vertical-rl;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  column-gap: 30px;
  padding: 15px;
  touch-action: none;
}